body {
  background-image: url('/images/giphy\ \(6\).gif'); 
  background-size: cover; 
  background-repeat: no-repeat;
  padding: 1.5rem;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
  background-image: image();
  font-family:'Courier New', Courier, monospace;
}

.parent{
  border-color:  antiquewhite ;
}

.content {
  font-family: 'Indie Flower', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h1,
.title {
  color: antiquewhite;
  align-items: center;
  text-align: center;
}

#startButton {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

#startButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  opacity: 0;
  z-index: -1;
  transition: opacity 1s ease;
}

#startButton:hover::before {
  opacity: 1;
}

.h1 {
  color: antiquewhite;
  text-decoration: underline;
}


.image1 {
  width: 100%; /* Ensure the image fills its container */
  height: auto; /* Maintain aspect ratio */
}

/*  */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 10px;
}